html(lang="en")

  head
    meta(charset="utf-8")

    title Jarek Wojciechowski
    meta(name="description" content="Jarek Wojciechowski's personal website")
    meta(name="author" content="Jarek Wojciechowski")

    link(rel="stylesheet" href="/styles/styles.css")
    link(rel="stylesheet" href="/styles/bulma.css")

  body
    section.hero.is-bold.is-fullheight
      .hero-header.is-primary
        nav.nav.has-shadow
          div.nav-right
            a.nav-item.is-tab
              | About
            a.nav-item.is-tab
              | Blag
            a.nav-item.is-tab
              | Contact
      .hero-body.picture-banner
        .container.has-text-centered
          h2.title.is-2
            | This is my header 
    section.section
      .container
        .heading
          h1.title About
        | yo waddup
    section.section
      .container
        .heading
          h1.title Porfolio
        | yo waddup
    section.section
      .container
        .heading
          h1.title Contact
        | yo waddup
    div this it toally some dank test
    this is some text outside a div
