html(lang="en")

  head
    meta(charset="utf-8")

    title Jarek Wojciechowski
    meta(name="description" content="Jarek Wojciechowski's personal website")
    meta(name="author" content="Jarek Wojciechowski")

    link(rel="stylesheet" href="../styles/styles.css")
    link(rel="stylesheet" href="../styles/bulma.css")

  body
    nav.nav
      div.nav-right
        a.nav-item
          | About
        a.nav-item
          | Blag
        a.nav-item
          | Contact
    section.section
      .container
        .heading
          h1.title About
        | yo waddup
    section.section
      .container
        .heading
          h1.title Porfolio
        | yo waddup
    section.section
      .container
        .heading
          h1.title Contact
        | yo waddup
    div this it toally some dank test
    this is some text outside a div
