html(lang="en")

  head
    meta(charset="utf-8")

    title Jarek Wojciechowski
    meta(name="description" content="Jarek Wojciechowski's personal website")
    meta(name="author" content="Jarek Wojciechowski")

    link(rel="stylesheet" href="/public/styles/styles.css")
    link(rel="stylesheet" href="/public/styles/bulma.css")

  body
    section.hero.is-bold.is-fullheight
      .hero-header.is-primary
        nav.nav.has-shadow
          //TODO Make these jump to the correct sections
          div.nav-right
            a.nav-item.is-tab#about-link
              | About
            a.nav-item.is-tab#portfolio-link
              | Blag
            a.nav-item.is-tab#contact-link
              | Contact
      //TODO get the size and scaling for this to work nicely
      .hero-body.picture-banner
        .container.has-text-centered
          h2.title.is-2
            | This is my header 
    section.section#about
      .container.is-fluid
        .heading
          h1.title About
        | yo waddup
    section.section#portfolio
      .container.is-fluid
        .heading
          h1.title Porfolio
          .clearfix
        //-.box
        .container
          h3.title Project Name
          .columns
            .column.is-one-quarter
              .image.is-128x128
                img(src="http://placehold.it/128x128")
            .column.is-three-quarters
              .portfolio-content
                |Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
          //-.box
          hr
          h3.title Project Name
          .columns
            .column.is-one-quarter
              .image.is-128x128
                img(src="http://placehold.it/128x128")
            .column.is-three-quarters
              .portfolio-content
                |Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
          hr
    section.section
      .container.is-fluid
        .heading
          h1.title Contact
        | yo waddup
    script(src="/public/js/scripts.js")
