html(lang="en")

  head
    meta(charset="utf-8")

    title Jarek Wojciechowski
    meta(name="description" content="Jarek Wojciechowski's personal website")
    meta(name="author" content="Jarek Wojciechowski")

    link(rel="stylesheet" href="/public/styles/styles.css")
    link(rel="stylesheet" href="/public/styles/bulma.css")
    link(rel="stylesheet" href="/public/styles/font-awesome.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")

  body
    section.hero.is-bold
      .hero-header
        nav.nav.has-shadow
          div.nav-right
            a.nav-item.is-tab#about-link
              | About
            a.nav-item.is-tab#portfolio-link
              | Portfolio
            a.nav-item.is-tab#contact-link
              | Contact
            a.nav-item.is-tab#blag-link
              | Blag
      //TODO get the size and scaling for this to work nicely
      //TODO fine another solution for the text color besides this is-primary
    section.hero.is-bold.is-fullheight.is-primary
      .hero-body.picture-banner
        .container.has-text-centered
          h1.title.is-1.is-primary
            | I'm Jarek Wojciechowski
    section.section#about
      .container.is-fluid
        .heading.has-text-centered
          h1.title About
        //TODO Finalize this
        .container
          | I'm an aspiring software developer. I love spending my time helping organize hackathons and attending them. I have huge passion for music. I love to spend time cooking as well, especially chili. 
    section.section#portfolio
      .container.is-fluid
        .heading.has-text-centered
          h1.title Porfolio
          .clearfix
        .container
          h3.title Connect Four Monte Carlo AI
          .columns
            .column.is-one-quarter
              .image.is-128x128
                img(src="http://placehold.it/128x128")
            .column.is-three-quarters
              .portfolio-content
                |I wrote an ai that plays Connect Four and it uses Monte Carlo simulations to make it's moves. You can read more about Monte Carlo here. I wrote this in python and it performed decently well in the competition it was in. 
          h3.title Project Name
          .columns
            .column.is-one-quarter
              .image.is-128x128
                img(src="http://placehold.it/128x128")
            .column.is-three-quarters
              .portfolio-content
                |Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
              a(href="github.com/Wojonatior/Connect4MonteCarlo")
                span.icon.is-large
                  i.fa.fa-github
          hr
    section.section#contact
      .container.is-fluid.has-text-centered
        .heading
          h2.title.is-2 Contact
        a(href="https://twitter.com/wojonatior")
          span.icon.is-large
            i.fa.fa-twitter
        a(href="https://github.com/wojonatior")
          span.icon.is-large
            i.fa.fa-github
        //Make the email made by this useful by default
        a(href="mailto:jarekwojo@gmail.com")
          span.icon.is-large
            i.fa.fa-envelope
    script(src="/public/js/scripts.js")
